
<div class="exp">
<h2>CREATE A NEW EXP PATTERN</h2>
<form>
		<label>Title</label>
		<br>
		<input id="title"/>
		<br>
		<label>EXP Gain from Report</label>
		<br>
		<input id="reportGain"/>
		<br>
		<label>EXP Gain from Upvote</label>
		<br>
		<input  id="upvoteGain"/>
		<br>
		<label>EXP Minus from Downvote</label>
		<br>
		<input  id="downvoteGain"/>
		<br>
		<label>Pattern State</label>
		<br>
		<input placeholder="true or false" id="active"/>
		<br>
		<button type="submit" id="submit-exp">CREATE</button>
	</form>
</div>
