<html>

<head>
	<title>Luke App</title>

	<!-- Viewport settings-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Basic style -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

	<link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />

	<link href="catagory.css" rel="stylesheet"/>

	<style>
		.navbar {
			margin-bottom: 0;
			border-radius: 0;
		}
	</style>

<!--
	<link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css" />
	<link href="bower_components/datatables/media/css/dataTables.bootstrap.css" />
	<link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
-->
	<link href="main.css" rel="stylesheet"/>

</head>

<body>
	<div id="app-container" ng-app="app">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" ui-sref="home">Auth0</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-if="!isAuthenticated"><a ui-sref="login">Log In</a></li>
						<li ng-if="isAuthenticated"><a ui-sref="home" ng-click="authService.logout()">Log Out</a></li>
						<li><a ui-sref="home">Home</a></li>
						<li><a id="table-link" ui-sref="table">Users</a></li>
						<li><a id="cat-link" ui-sref="catagory">catagory</a></li>
						<li><a ui-sref="userDetail">User Detail</a></li>
						<li><a ui-sref="exp">EXP Pattern</a></li>
						<li><a ui-sref="submission">Submissions</a></li>
						<li><a ui-sref="adminMarker">Admin Marker</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div ui-view></div>
	</div>


	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="custom.js"></script>

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="bower_components/auth0-lock/build/lock.js"></script>
	<script type="text/javascript" src="bower_components/angular-lock/dist/angular-lock.js"></script>
	<script type="text/javascript" src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="app.run.js"></script>
	<script type="text/javascript" src="components/home/HomeCtrl.js"></script>
	<script type="text/javascript" src="components/login/LoginCtrl.js"></script>
	<script type="text/javascript" src="components/auth/auth.service.js"></script>

<!--	Import component scripts-->
	<script src="components/apiService.js"></script>
	<script src="components/exp/CreatePatternCtrl.js"></script>
	<script src="components/exp/PatternCtrl.js"></script>
	<script src="components/submission/submissionCtrl.js"></script>
	<script src="components/marker/CreateMarkerCtrl.js"></script>
	<script src="components/marker/GetMarkerCtrl.js"></script>

	
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<!--	<script src="bower_components/metisMenu/dist/metisMenu.js"></script>-->

</body>

</html>
