/*@import url("modal.css");*/

body {
	background: #fafafa;
	color: #454544;
}

.pad {
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 1%;
}

a {
	cursor: pointer;
}

.stat-cover {
	display: flex;
	flex-flow: row;
}

.stat-cover .jumbotron {
	flex: 1 1 auto;
}

.data-table {
	width: 90%;
	flex: 1 1 90%;
}

.data-row {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
}

.data-cell {
	flex-basis: 15%;
	padding: 5px;
}

.short {
	flex-basis: 10%;
}

.long {
	flex-basis: 20%;
}

.action {
	flex-basis: 25%;
	padding: 0;
}

.sub-table {
	width: 60%;
	flex: 1 1 60%;
}

.sub-table .sub-row {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
}

.sub-table .sub-row .sub-cell {
	flex-basis: 40%;
	padding: 5px;
}

.sub-table .sub-row .sub-cell.short {
	flex-basis: 10%;
}

.sub-table .sub-row .sub-cell.long {
	flex-basis: 60%;
}

.sub-table .sub-row .sub-cell.action {
	flex-basis: 25%;
	padding: 0;
}

.table-content {
	border: 1px solid #c3c3c3;
	max-width: 98%;
}

.table-header {
	border-bottom: 1px solid #c3c3c3;
	background-color: #f9f9f9;
	width: 100%;
	height: 102px;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 30px;
	/*	align-items: center;*/
}

.table-header .data-row {
	/*	align-self:center;*/
}

.table-header .data-cell {
	font-size: 16px;
	font-weight: 600;
	line-height: 23px;
	text-transform: uppercase;
}

.table-header .sub-cell {
	font-size: 13px;
	font-weight: 600;
	line-height: 23px;
	text-transform: uppercase;
}

.table-header a {
	color: rgba(79, 195, 247, 1);
}

.table-data {
	padding-top: 10px;
	background-color: white;
	flex-flow: row;
}

.positive {
	color: #6fb614;
}

.negative {
	color: red;
}

.neutral {
	color: #454544;
}

.btn,
.btn:focus {
	background-color: #0c6bec;
	border: 1px solid #0c6bec;
	border-radius: 0;
	color: white;
}

.btn:hover {
	background-color: white;
	color: #0c6bec;
	border: 1px solid #0c6bec;
}

.btn a {
	color: white;
}

.btn:hover a {
	color: #0c6bec;
}

.btn-load {
	width: 350px;
	height: 40px;
	margin: 18px auto;
	display: block;
	font-size: 20px;
	text-transform: capitalize;
}

.modal-container {
	flex-direction: column;
}

.modal {
	top: 10%;
	padding-right: 20px;
	justify-content: center;
	align-self: center;
}

.modal-dialog {
	width: auto;
	max-width: 600px;
	display: flex;
	justify-content: center;
}

.form-container {
	display: flex;
	height: 450px;
	justify-content: space-around;
	align-content: space-around;
	width: 100%;
	flex: 1 1 90%;
	flex-direction: column;
	align-items: flex-start;
}

.form-container label {
	display: flex;
		margin-bottom: -10px;
}

form{
	padding-left: 20px;
}

.form-container input {
	display: flex;
	width: 80%;
	max-width: 300px;
	height: 35px;
	padding-left: 10px;
}

.avatar{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
