body {
	background: #fafafa;
	color: #454544;
}

.pad {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 25px;
}

a {
	cursor: pointer;
}

.stat-cover {
	display: flex;
	flex-flow: row;
}

.stat-cover .jumbotron {
	flex: 1 1 auto;
}

.payment-table {
	width: 90%;
	flex: 1 1 90%;
}

.payment-row {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
}

.payment-cell {
	flex-basis: 15%;
	padding: 5px;
}

.short {
	flex-basis: 10%;
}

.long {
	flex-basis: 20%;
}

.action {
	flex-basis: 25%;
	padding: 0;
}

.sub-table {
	width: 40%;
	flex: 1 1 40%;
}

.sub-table .sub-row {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
}

.sub-table .sub-row .sub-cell {
	flex-basis: 40%;
	padding: 5px;
}

.sub-table .sub-row .sub-cell &.short {
	flex-basis: 10%;
}

.sub-table .sub-row .sub-cell &.long {
	flex-basis: 60%;
}

.sub-table .sub-row .sub-cell &.action {
	flex-basis: 25%;
	padding: 0;
}

.table-content {
	border: 1px solid #c3c3c3;
	max-width: 98%;
}

.table-header {
	border-bottom: 1px solid #c3c3c3;
	background-color: #f9f9f9;
	width: 100%;
	height: 102px;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 30px;
/*	align-items: center;*/
}

.table-header .payment-row {
/*	align-self:center;*/
}

.table-header .payment-cell {
	font-size: 16px;
	font-weight: 600;
	line-height: 23px;
	text-transform: uppercase;
}

.table-header a {
	color: rgba(79, 195, 247, 1);
}

.table-data {
	padding-top: 10px;
	background-color: white;
}

.positive{
	color: #6fb614;
}
.negative{
	color: red;
}
.neutral{
	color: #454544;
}
.btn{
	background-color: #0c6bec;
	border: 1px solid #0c6bec;
	border-radius: 0;
}
.btn:hover{
	background-color: white;

}
.btn a{
	color: white !important;
}
.btn:hover a{
	color:#0c6bec !important;

}
