<!-- <div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">User</h1>
		</div> -->
		<!-- /.col-lg-12 -->
	<!-- </div> -->
	<!-- /.row -->
	<!-- <div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">

				<button type="submit"  class="find-a11" style="display: block; width: 100%;">Find all users</button>


			</div> -->
			<!-- /.panel-body -->
		<!-- </div> -->
		<!-- /.panel -->
	<!-- </div> -->
	<!-- /.col-lg-12 -->
<!--
	<div class="table-responsive">
		<table id="list-tab1e" width="100%" class="table table-striped table-bordered table-hover">
			<thead>
				<th>id</th>
				<th>User Name</th>
				<th colspan="2">score</th>
			</thead>
			<tbody>
				<tr ng-repeat="data in vm.datas">
					<td>{{data.id}}</td>
					<td ng-if="data.username != null" ng-if="">{{data.username}}</td>
					<td ng-if="data.score != null">{{data.score}}</td>
					<td><button class="btn btn-load text-center" ng-click="banUser()">ban</button></td>
					<td><button class="btn btn-load text-center" ng-click="banUser()">Edit user</button></td>
				</tr>
			</tbody>
		</table> -->























		<div>
		<h1 class="text-center" style="padding-top: 20px">USER'S LIST</h1>
		<div class="pad" style="display: flex">

			<div class="row data-table">
				<div class="table-content">
					<div class="table-header">
						<div class="data-row">

							<!--ID-->
							<!-- <div class="data-cell">
								<a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse; saveUser($event)">
									<span >ID</span>
									<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</div> -->

							<!--username-->
							<div class="data-cell">
								<a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse; saveUser($event)">
									<span >Username</span>
									<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</div>

							<!--Score-->
							<div class="data-cell">
								<a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse; saveUser($event)">
									<span >Score</span>
									<span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</div>


							<!--DELETE-->
							<div class="data-cell text-center"> </div>

						</div>
					</div>

					<!--Table content-->
					<div ng-repeat="data in vm.datas | orderBy:sortType:sortReverse | limitTo:totalDisplayed" class="data-row table-data">
						<!--				id-->
						<!-- <div class="data-cell text-left">{{data.id |date:'short'}}</div> -->

						<!--				TITLE-->
						<div class="data-cell text-left">{{data.username}}</div>

						<!--				DESCRIPTION-->
						<div class="data-cell text-left">{{data.score}}</div>


						<!--				DELETE ACTION-->
						<!-- <div class="data-cell text-center">
							<button class="btn"><a data-id={{data.id}} ng-click="ban(data.id); toogle(data.id)" ng-hide="bban">Ban</a></button>
							<button class="ubbtn"><a data-id={{data.id}} ng-click="unban(data.id); toogle(data.id)" ng-hide="!bban">Unban</a></button>
						</div> -->

						<!-- <a style="text-transform: uppercase;" class="data-cell text-center short" data-id={{data.id, data.approved}} ng-click="approved(data.id, data.approved)">
							<span ng-show="data.approved != null">{{data.approved}}</span>
							<span ng-show="data.approved == null">Neutral</span>
						</a> -->

						<a data-id={{data.id, data.roles}} ng-click="banned(data.id, data.roles)">
						{{data.roles}}
					</a>
					</div>
				</div>
				<button class="btn btn-load text-center" ng-click="loadMore()">Load more</button>
			</div>

		</div>



		</div>
