<div class="col-md-3 col-xs-12">
	<div class="pad">
		<h3>Create a new Rank</h3>

		<form method="post">
			<div class="form-container">
				<label>Title</label>

				<input id="title" ng-model="body.title" />

				<label>Description</label>

				<input id="description" ng-model="body.description" />

				<label>Score</label>

				<input id="score" ng-model="body.score" />

				<label>Image</label>

				<input type="file" id="image" ng-model="body.image" base-sixty-four-input/>
				
				<label>ID</label>

				<input placeholder="For updating" id="id" ng-model="body.id" />
				
				<div>
				<button ng-click="createRank()" class="btn" type="submit" id="submit">CREATE</button>

				<button style="margin-left: 20px;" ng-click="updateRank()" class="btn" type="submit" id="submit">UPDATE</button>
					</div>
			</div>
		</form>
	</div>
</div>

<div class="col-md-9 col-xs-12">
	<div class="pad">
		<div class=" " ui-view="getRank">
		</div>

	</div>
</div>
